

.myCanvas {
	border: 4px;
	border-style: solid;
	border-color: lightslategray;
  }

.myDiv {
	border: thick solid lightslategray;
	margin-left: 20px;
}

.DFSdetails {
	border: thick solid lightslategray;
	margin-right: 20px;
	height: 600px;
}